li,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: #3d3d3d;
	margin: 0 auto;
}

.bg-dark {
	background-color: #3d3d3d !important;
}

.navbar {
	width: 1170px;
	margin: 0 auto;
	padding: 10px 0;
}

.navbar .nav-link {
	font-size: 14px;
	color: #ffffff !important;
}

.navbar .nav-item {
	height: 50px;
	width: 110px;
	text-align: center;
}

.navbar .nav-item a {
	margin-top: 6px;
}

.navbar .active {
	background: url(../img/titleactive.png) no-repeat;
	background-size: 100% 95%;
	background-position-y: 5px;
}

.banner img {
	width: 100%;
}

.banner {
	margin-bottom: 30px;
}

.main {
	width: 1170px;
	margin: 0 auto;
}

.title {
	font-size: 24px;
	color: #231f20;
	font-weight: bold;
	position: relative;
}

.title:after {
	content: '';
	position: absolute;
	top: 133%;
	background: #ff2d2d;
	width: 80px;
	height: 3px;
	left: 0;
}

.title span {
	color: #898989;
	padding-left: 12px;
	font-weight: normal;
}

.title i {
	font-size: 12px;
	color: #898989;
	font-style: normal;
	padding-left: 10px;
	font-weight: normal;
	position: absolute;
	margin-top: 15px;
}

.crumbs {
	float: right;
	font-size: 12px;
	color: #231f20;
	font-weight: normal;
	line-height: 28px;
	padding: 0;
}

.crumbs .crumbsBox {
	float: right;
}

.crumbs p {
	float: left;
}

.crumbs ul {
	float: left;
}

.crumbs ul li {
	float: left;
	cursor: pointer;
}

.crumbs ul .active {
	color: #ee2a28;
}

.newsList {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	margin-top: 35px;
}

.newsList>div {
	padding: 0;
	margin-bottom: 40px;
}

.newsList>div:nth-child(odd) {
	padding-right: 25px;
}

.newsList>div:nth-child(even) {
	padding-left: 25px;
}

.newsList>div section {
	border: 1px solid #dddddd;
	height: 415px;
}

.newsList .imgbox {
	width: 100%;
	height: 254px;
	overflow: hidden;
	padding: 0;
}

.newsList img {
	width: 100%;
	height: 100%;
	transition: all 0.6s;
}

.newsList>div section:hover {
	box-shadow: 0px 3px 10px 0px #e4e4e4;
	-webkit-box-shadow: 0px 3px 10px 0px #e4e4e4;
	-moz-box-shadow: 0px 3px 10px 0px #e4e4e4;
	border: 1px solid #e4e4e4;
}

.newsList>div section:hover img {
	transform: scale(1.1);
	transition: all 0.6s;
}

.newsList>div section:hover h2 {
	color: #FF2D2D;
}

.newsList section div {
	padding: 20px;
	cursor: pointer;
}

.newsList section div h2 {
	font-size: 18px;
	color: #231f20;
}

.newsList section div time {
	font-size: 14px;
	color: #231f20;
	text-align: right;
	display: block;
}

.newsList section div p {
	font-size: 14px;
	color: #231f20;
}

.more {
	width: 142px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	border: 1px solid #cfcfcf;
	color: #4E555B;
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 120px;
	cursor: pointer;
	transition: all 0.4s;
}

.more:hover {
	border-radius: 5px;
	transition: all 0.4s;
	letter-spacing: 3px;
	box-shadow: 0px 3px 10px 0px #DDDDDD;
	-webkit-box-shadow: 0px 3px 10px 0px #DDDDDD;
	-moz-box-shadow: 0px 3px 10px 0px #DDDDDD;
}


.student {
	width: 102.5%;
	padding: 0;
	margin: 0 auto;
	margin-top: 35px;
}

.student>div {
	padding: 0;
	padding-right: 30px;
	margin-bottom: 60px;
}
.student section {
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}
.student section .imgbox{
	overflow: hidden;
}
.student section .imgbox img {
	display: block;
	width: 100%;
	height: 100%;
	transition: all linear 0.6s;
}
.student section:hover .maskbox {
	/*display: block;*/
	height: 100%;
	transition: all linear 0.2s;
}
.student section:hover .imgbox img {
	transform: scale(1.05);
	transition: all 0.6s;
}
.student section:hover .maskbox h3 {
	opacity: 1;
	transition: all linear 0.3s;
}
.student section:hover .maskbox img {
	opacity: 1;
	transition: all linear 0.3s;
}
.student section .maskbox {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0%;
	/*display: none;*/
	background: rgba(0, 0, 0, 0.4);
	transition: all linear 0.2s;
}

.student section .maskbox h3 {
	width: 168px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;
	line-height: 30px;
	color: #FFFFFF;
	letter-spacing: 1px;
	opacity: 0;
	transition: all linear 0.3s;
}

.student section .maskbox img {
	display: block;
	margin: 26px auto;
	opacity: 0;
	transition: all linear 0.3s;
}

.contactus {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 85px;
	position: relative;
}

.my-map {
	margin: 0 auto;
	width: 100%;
	height: 480px;
}

.my-map .icon {
	background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}

.my-map .icon-cir {
	height: 31px;
	width: 28px;
}

.my-map .icon-cir-red {
	background-position: -11px -5px;
}

.amap-container {
	height: 100%;
}

.contactus section {
	width: 650px;
	height: 220px;
	background-color: #FFFFFF;
	position: absolute;
	top: 180px;
	left: 256px;
	border-left:2px solid #ee2a28 ;
	padding: 32px;
}
.contactus section ul li{
	font-size: 14px;
	color: #222222;
	margin-bottom: 24px;
}
.contactus section ul li span{
	margin-right: 28px;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
}
.details{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 85px;
	position: relative;
}
.details h1{
	font-size: 24px;
	color: #3a3839;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.details time{
	position: absolute;
	right: 0;
	top: 3px;
	font-size: 14px;
	color: #6a6a6a;
}
.details time img{
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
.details .content{
	font-size: 14px;
	color: #3a3839;
	line-height: 30px;
}
	
.details .content img{
	display: block;
	width: 90%;
	margin: 30px auto;
}
footer {
	width: 100%;
	height: 210px;
	background-color: #484443;
	overflow: hidden;
}

footer section {
	width: 1170px;
	margin: 0 auto !important;
	padding: 40px 0;
}

footer .footerLeft {
	padding-top: 6px;
}

footer section .footerLeft .contact {
	margin-top: 35px;
	height: 30px;
}

footer section .footerLeft .contact img {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-right: 7px;
}

footer section .footerLeft .contact p:nth-child(2) {
	margin-top: -3px;
}

footer section .footerLeft .contact p {
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	margin: 0;
	opacity: .7;
}

footer section .contact p span {
	margin-right: 15px;
	margin-top: -7px;
	display: block;
	float: left;
}

footer .footerMiddle h2 {
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

footer .footerMiddle p {
	font-size: 12px;
	color: #FFFFFF;
	opacity: .8;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

footer .footerMiddle img {
	margin-top: 10px;
	margin-left: -4px;
}

footer .footerRight {
	padding-top: 6px;
}

footer .footerRight>div {
	float: left;
	margin-left: 43px;
}

footer .footerRight img {
	width: 90px;
	height: 90px;
}

footer .footerRight p {
	font-size: 12px;
	color: #bebebe;
	width: 90px;
	text-align: center;
	line-height: 30px;
}



@media (max-width: 1170px) {
	.main {
		width: 100%;
		padding: 0 20px;
	}

	header {
		padding: 0 20px;
	}

	footer {
		height: auto;
		padding: 0 20px;
	}

	footer section {
		width: 100%;
	}

	footer section>div {
		margin-bottom: 30px;
	}

	footer .footerRight>div:first-child {
		margin-left: 0px;
	}

	footer .footerRight {
		margin-bottom: 0;
	}

	.crumbs .crumbsBox {
		float: right;
	}

	.banner {
		margin-bottom: 10px;
	}

	.newsList>div {
		padding: 0;
	}

	.navbar {
		width: 100%;
		padding: 0;
	}

	.navbar .nav-item {
		width: 33.3%;
		text-align: center;
		float: left;
	}

	.navbar-nav {
		display: inherit;
	}

	.navbar-collapse {
		margin-bottom: 10px;
	}
	.contactus section {
		width: 500px;
		left: 10px;
	}
}

@media (max-width: 768px) {
	.banner img {
	    width: 100%;
	    object-fit: cover;
	    height: 160px;
	}
	.crumbs .crumbsBox {
		float: left;
		margin-top: 20px;
	}

	.newsList>div {
		padding: 0 !important;
	}

	.newsList .imgbox {
		height: 150px !important;
	}

	.newsList>div section {
		height: 340px;
	}

	.newsmore {
		margin-top: 20px;
		margin-bottom: 90px;
	}
	.contactus section {
		width: 100%;
		position: inherit;
	}
	.my-map{
		height: 280px;
	}
	.contactus{
		position: inherit;
	}
	.contactus section{
		border: none;
		padding: 10px;
		margin-top: 15px;
	}
	.contactus section ul li span{
		margin-right: 10px;
		height: 40px;
	}
	.details h1{
		margin-bottom: 20px;
	}
	.details time{
		width: 100%;
		position: inherit;
		text-align: right;
		margin-bottom: 10px;
	}
	.details time img{
		float: right;
		margin-left: 10px;
		width: 12px;
		margin-top: 3px;
	}
	.student {
		width: 100%;
	}
	.student>div{
		padding: 0;
	}
}
